/* You can add global styles to this file, and also import other style files */

#appName_section{
    background-color: #1a237e;
    padding: 20px 0px 20px 0px;
}

#appName{
    font-family: sans-serif;
    text-align: center;color: white;
}

#navbar{
    margin-top:200px;
}

#appTitle_section{
    margin-bottom: 30px;
}

/*-------------------------------Dashboard CSS-----------------------------------------*/
#dashboard_section{
    margin-top:40px;
}