<!--<p>
  menu works!
</p>-->

<nav>
  <div id="navbar" class="nav-wrapper" (scroll)="onScroll_navbar_title()">
     <a href="#" class="brand-logo">{{navbar_appName}}</a>
     <!--<a href="#" class="brand-logo">{{navbar_appName}}</a>-->

     <ul class="right hide-on-med-and-down">
        <!--<li><a href="#">Sass</a></li>-->
        <!--<li><a href="#"></a></li>-->
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <!--<li><a href="#">Components</a></li>   -->
        <li><a href="/company">Company</a></li>     
        <!--<li><a href="#">JavaScript</a></li>-->
        <li><a routerLink="/student">Student</a></li>
      </ul>
  </div>
</nav>